/*Home Page*/
html body{
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(0.25turn, #aaffa9, #11ffbd);
    height: 100vh;
    padding: 15px 20px 0 20px;
}

.home-text h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0 0 20px;
}

.home-text p {
    font-size: 17px;
    line-height: 35px;
    padding: 20px 0 20px 0;
}

.home-img {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.home-img img {
    width: 100%;
}

/*Submissions*/

.card {
    background-color: transparent;
    border-color: white;
}

.label {
    padding-bottom: 5px;
}

.recent-heading {
    padding-top: 20px;
}
.form-control {
    background-color: transparent;
    border-color: white;
    border-width: 2px;
}

.form-group {
    padding: 2px 0 10px 0;
}
@media only screen and (min-width: 768px) {

    .home-text {
        padding-top: 150px;
        width: 80%;
        margin: 0 auto;
    }
    .home-img {
        padding-top: 40px;
    }

    /*Submission*/
    .recent-heading {
        padding: 0;
    }

}
